.card {
    width: 200px;
    height: 300px;
    background: #f8f9fa;
    position: relative;
    box-shadow: 15px 15px 50px #adb5bd75;
    text-align: center;
    transition: all 0.s ease-in;
    margin: 2%;
  }
  .card img {
    max-width: 200px;
    height: fit-content;
  }
  
  .card h1 {
    transition: all 0.3s ease-in;
    margin-top: 40px;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: none;
  }
  
  .card:hover h1 {
    transform: scale(1.1);
    color: #f8f9fa;
  }
  
  .card::before {
    content: '';
    width: 10%;
    height: 0;
    background: #3f72ff;
    position: absolute;
    left: 0;
    bottom: 0;
        /* Or Top */
    transition: 0.3s ease-in-out;
    z-index: -1;
  }
  
  .card:hover::before {
    height:10%;
  }

  .pagesHolder{
    width: 220px;
    height: 8vh;
    display: flex;
    background: #283618;
    box-shadow: 0px 0px 10px 5px rgba(255, 102, 196, 0.08);
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .page{
    color: #FEFAE0;
    font-size: medium;
    font-weight: 600;
  }