.landingBg{
    /*pic from freepik*/
    background-size: cover;
    background:url("\lovely-dog-posing-garden.jpg") center center/cover no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}
.landingTextDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    font-family: "Cabin";
    margin-left: 5vw;
}
.landingTextDiv>*{
    margin-left: 2vw;
    color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 2px rgba(0, 49, 34, 0.699);
    
}
.landingBtn{
    background-color: #DDA15E;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5vw;
    border-color: #DDA15E;
    
}
.detailContainer{
    background-color:#606C38 ;   
    color: #FEFAE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Cabin";
    align-content: center;
}
.detailContainer>img{
max-width: 45%;
height: auto;
border-radius: 15px;
}
.detailContainer>p{
    font-weight: 500;
}
.detailButton{
    border-radius: 5px;
    background-color: #283618;
    color: #FEFAE0;
    font-weight: 600;
    padding: 8px;
    margin: 1vh 0 2vh 0;
    border-color: none;
}
.delButton{
    border-radius: 3px;
    background-color: #FF9168;
    color: #FEFAE0;
    padding: 8px;
    margin: 1vh 0 2vh 0;
    border-color: antiquewhite;
    font-weight: 600;
}